<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Car Price Prediction Result</title>
    <style>
      body {
        background-color: #f0f0f0;
        color: #333;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
      }

      .container {
        background-color: #fff;
        padding: 50px;
        border-radius: 10px;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
        text-align: center;
        transition: transform 0.3s ease;
      }

      .container:hover {
        transform: scale(1.02);
      }

      h1 {
        margin-bottom: 20px;
        font-size: 36px;
        color: #007bff;
      }

      .price {
        font-size: 36px;
        color: #05a636;
        font-weight: bold;
        background-color: #fff;
        transition: background-color 0.3s ease;
        cursor: pointer;
        padding: 5px 10px;
        border-radius: 5px;
      }

      .price:hover {
        background-color: #000;
        color: #fff;
      }

      .btn {
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        font-size: 18px;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }

      .btn:hover {
        background-color: #0056b3;
      }

      p {
        font-size: 20px;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>Car Price Prediction Result</h1>
      <p>
        The predicted price of the car is:
        <span class="price">${{value}}</span>
      </p>
      <button class="btn" onclick="window.history.back()">Go Back</button>
    </div>
  </body>
</html>
